.produto-container {
  width: 90%;
  max-width: 1300px;
  margin: 40px auto;
  padding-bottom: 60px;
}

.produto-main {
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: center;
}

.produto-img {
  width: 100%;
  max-width: 450px;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: contain;
  border-radius: 12px;
  padding: 20px;
}

.produto-info {
  max-width: 500px;
  flex: 1;
}

.produto-info h2 {
  font-size: 35px;
  font-weight: 400;
  margin-bottom: 10px;
  align-items: start;
  text-align: start;
  color: #000000;
}

.produto-preco {
  font-size: 16px;
  text-align: start;
  font-weight: normal;
  margin-bottom: 10px;
  color: #000;
}

.produto-stars {
  color: #ff0000;
  text-align: start;
  font-size: 20px;
  margin-bottom: 30px;
}

.produto-desc {
  font-size: 18px;
  text-align: start;
  color: #000000;
  line-height: 1.5;
  margin-bottom: 20px;
}

.addCarrinhoTexto {
  text-align: start;
  font-size: 14px;
  margin-bottom: 15px;
}

.btn-add {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 30px;
  background: black;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-add:hover {
  background: #333;
}

.titulo-relacionados {
  margin-top: 80px;
  margin-bottom: 30px;
  text-align: start;
  font-size: 24px;
  font-weight: 700;
  color: #000;
}